@model List<Chef>

<h2>Chefs | <a href="/dishes"
>Dishes</a></h2>
<p><a href="/new">Add a Chef</a></p>

<h1>Check out our roster of Chefs!</h1>
<table>
<thead>
    <th>Name</th>
    <th>Age</th>
    <th># of Dishes</th>
</thead>

@foreach (Chef chef in Model)
{
    
        
        <tr>
            <td>@chef.FirstName @chef.LastName</td>
            <td>@(DateTime.Now.Year - chef.BirthDate.Year)</td>
            <td>@chef.Dishes.Count</td>
        </tr>

}
    <tbody>
</table>