@model Chef

<h1>Add a Chef!</h1>
<div>
<form asp-controller="Chef" asp-action="CreateChef" method = "Post">
    <div>
        <label asp-for="FirstName"></label>
        <span asp-validation-for="FirstName">
        </span>
        <input asp-for="FirstName">
    </div>
        <div>
        <label asp-for="LastName"></label>
        <span asp-validation-for="LastName">
        </span>
        <input asp-for="LastName">
    </div>
        <div>
        <label asp-for="BirthDate"></label>
        <span asp-validation-for="BirthDate"></span>
        <input type="date" asp-for="BirthDate">
        
    </div>
    <input value="Add Chef" type="submit">
</form>
</div>
