@model Dish

<h1>Add a Dish</h1>
<div>
    <form asp-controller="Dish" asp-action="CreateDish" method = "Post">
        <div>
        <label asp-for="DishName"></label>
        <span asp-validation-for="DishName">
        </span>
        <input asp-for="DishName">
    </div>
    <div>
        <label asp-for="Calories"></label>
        <span asp-validation-for="Calories">
        </span>
        <input asp-for="Calories">
    </div>
    <div>
        <label asp-for="Description"></label>
        <span asp-validation-for="Description">
        </span>
        <input asp-for="Description">
    </div>
    
    <div>
        <label asp-for="ChefId"></label>
        <span asp-validation-for="ChefId">
        </span>
        <select asp-for="ChefId">
        @foreach(Chef chef in ViewBag.allChefs)
        {
            <option value="@chef.ChefId">@chef.FirstName @chef.LastName</option>
        }
        </select>
    </div>
    <div>
        <label asp-for="Tastiness"></label>
        <span asp-validation-for="Tastiness">
        </span>
        <input asp-for="Tastiness">
    </div>
    <input value="Add Dish" type="submit">
    </form>
</div>